/* index.css or tailwind.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  cursor: none;
  font-family: Bookman, URW Bookman L, serif	;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a,link, button {
  cursor: none; 
}

input, textarea {
  cursor: none; 
}


