/* index.css or tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  cursor: none;

font: 1 rem "american typewriter",serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
a,link, button {
  cursor: none; 
}

input, textarea {
  cursor: none; 
}


