.footer {
  width: 20%;
  height: 50px; /* Adjust height as per your design */
  color: #151212;
  background-color: #1c1a1a83;
  /* padding: 10px; Adjust padding as per your design */
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Ensure it matches your container width */
}

.footer button:hover {
  background-color: #444444c9;
}

.backdrop-blur-sm {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px;
}

.popup-button {
  backdrop-filter: blur(20px);
  border-radius: 9999px;
  font-weight: bold;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s ease;
}

.popup-button:hover {
  background-color: #3b82f6; /* Tailwind's blue-600 */
  color: white;
}
.text {
  color: #ffffff;
}
