/* Navbar.css */

/* Hamburger Icon Animation */
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.hamburger span {
  background-color: white;
  height: 3px;
  width: 100%;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.hamburger.open span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

/* On hover of links */
nav ul li a:hover {
  color: rgb(170, 195, 228);
}

/* Glow Effect */
nav {
  transition: all 0.3s ease-in-out;
  background: rgba(12, 18, 18, 0.9);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.4); /* Default shadow */
}

nav:hover {
  box-shadow: 0 0 29px 4px rgba(83, 74, 93, 0.8); 
}
